body {
    background-size: cover;
}

.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 15px;
    color: rgb(0, 0, 0);
}


.play_button {
    width: 130px;
    font-size: 25px;
}

canvas{
    border: 5px solid lightsteelblue;
    border-radius: 30px;
    margin-top: 90px;
}

#Sname{
    height: 48px;
    width: 150px;
    font-size: 20px;
    text-align: center;
}